body{
    background-color: #BBBBDB;
    font-size: 16px;
}
.right-side{
  margin: 0 0 0 90%;
}
.cart-link{
  text-decoration: none;
}
.customer-link{
  text-decoration: none;
}
.title{
		color: red;
		font-size: 40px;
		font-style: italic;
    text-align: center;
}
