body{
    background-color: #BBBBDB;
    font-size: 16px;
}
.right-side{
  margin: 0 0 0 90%;
}
.cart-link{
  text-decoration: none;
}
.customer-link{
  text-decoration: none;
}
.title{
		color: red;
		font-size: 40px;
		font-style: italic;
    text-align: center;
}
.products-section {
    background-color: #DBDBDB;
    height: auto;
    width: 900px;
}
.products-list{
  margin: 0;
  padding: 0;
  height: auto;
}
.product{
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	width:  240px;
	height: 280px;
}
.product-link{
  display: block;
  text-decoration: none;
  margin: 0 auto;
}
.product-img{
  margin: 0 auto;
}
.product-texts{
}
.product-name{
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  display: inline-block;

}

.product-price{
  color: grey;
  display:inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
  text-align: right;
}
.index-section{
  text-align: center;
}
.index{}
.index-item[type="submit"]{
  border: none;
  color: #0000ff;
  text-decoration: underline;
  font-style: italic;
  background-color: inherit;;
}
.botom-logout{
  margin: 20px;
}
.login{
  text-decoration: none;
	display: inline-block;
  margin: 10px;
}

/*PAGINATION*/

.pagination {
    height: 36px;
    margin: 15px 0;

}
.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 10px;
    margin-left:92px;
    box-shadow: 0 2px 5px #666666;
}
.pagination li {
    display: inline;
}
.pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
    cursor:pointer;
}
.pagination a:hover, .pagination .active a {
    color:#2d2d28;
    outline:0;
    text-decoration:none;
    font-weight: bold;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

.loading {
width:100%;
text-align:center;
margin-top:40px;
height:100px;
}

.service_category {
    background-color: #D0D3D8;
    border: 1px solid #D0D3D8;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    margin-bottom: 0.3em;
    padding: 6px;
}
