body{
    background-color: #BBBBDB;
    font-size: 16px;
}
.right-side{
  margin: 0 0 0 90%;
}
.cart-link{
  text-decoration: none;
}
.customer-link{
  text-decoration: none;
}
.title{
		color: red;
		font-size: 40px;
		font-style: italic;
    text-align: center;
}
.products-section {
    background-color: #DBDBDB;
    height: 900px;
    width: 900px;
}
.products-list{
  margin: 0;
  padding: 0;
  padding-top: 50px;
}
.product{
	text-decoration: none;
	display: inline-block;
	margin: 10px;
  position: relative;
	width:  240px;
	height: 240px;
}
.product-ima{
  display: block;
  position: absolute;
	width:  240px;
	height: 280px;
  opacity: 1;
}
.product-img{
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.product-texts{
}
.product-name{
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  display: inline-block;
}
.product-price{
  color: grey;
  display:inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
  text-align: right;
}
.product-des{
  display: block;
  position: absolute;
	width:  240px;
	height: 280px;
  padding-top: 50px;
}
.switch{
  border: none;
  position: relative;
  left: 90px;
  opacity: 0.5;
}
.material-icons{
}
.product-link{
  display: block;
  text-decoration: none;
  margin: 0 auto;
}
.index-section{
  text-align: center;
}
.index{}
.index-item[type="submit"]{
  border: none;
  color: #0000ff;
  text-decoration: underline;
  font-style: italic;
  background-color: inherit;;
}
.botom-logout{
  margin: 20px;
}
.login{
  text-decoration: none;
	display: inline-block;
  margin: 10px;
}
