body{
    background-color: #BBBBDB;
    font-size: 16px;
}

.title{
		color: red;
		font-size: 40px;
		font-style: italic;
    text-align: center;
}
.products-section {
    background-color: #DBDBDB;
    height: 900px;
    width: 900px;
}
.products-list{
  margin: 0;
  padding: 0;
}
.product{
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	width:  240px;
	height: 280px;
}
.product-link{
  display: block;
  text-decoration: none;
  margin: 0 auto;
}
.product-img{
  margin: 0 auto;
}
.product-texts{

}
.product-name{
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  display: inline-block;

}

.product-price{
  color: grey;
  display:inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
  text-align: right;
}
