.reborde {
    background-color: #DBDBDB;
    height: 400px;
    width: 800px;
    padding: 10px;
}
.element {

}
.precio {
    color: red;
    font-size: 20px;
    font-weight: bold;
    left: 1px;
    position: relative;
    top: 220px;
    c
}
.title{
		color: red;
		font-size: 40px;
		font-style: italic;
		font-weight: bold;
        font-family: monospace;
}
body{
    background-color: #BBBBDB;
}
ul{
    border-style: solid; border-width: 1px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
li{
	border-style: solid; border-width: 1px;
    padding: 30px;
	text-decoration: none;
	display: inline-block;
	background-color: #DBDBDB;
	margin: 10px;
	width:  300px;
	height: 500px;

}

.info{
          pa
    border-style: solid; border-width: 1px;
    text-decoration: none;
    display: inline-block;
    background-color: #DBDBDB;
    margin: 10px;
    width:  240px;
    height: 280px;
}
