.reborde {
    background-color: #DBDBDB;
    height: 900px;
    width: 900px;
    position: relative;
}
.element {

}
.precio {
    color: red;
    font-size: 20px;
    font-weight: bold;
    left: 1px;
    position: relative;
    top: 220px;
}


.title{
		color: red;
		font-size: 40px;
		font-style: italic;
		font-weight: bold;
}
body{
    background-color: #BBBBDB;
}

ul{
	text-decoration: none;
}

li{
	border-style: solid; border-width: 1px;
	text-decoration: none;
	display: inline-block;
	background-color: #DBDBDB;
	margin: 10px;
	width:  240px;
	height: 280px;

}
