.pro{

  display: inline-block;
  background-color: #BDBDBD;
  margin: 10px;
  width: 300px;
  height: 300px
}

.suger{
  border-style: solid; border-width: 1px;
  display: inline-block;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.cont{

  border-style: solid;border-width: 1px;
  display: inline-block;
  margin: 4px;
  width: 60px;

}

.sul{
  display: inline-block;
  background-color: #BDBDBD;
  margin: 10px;
  width: 300px;
  height: 400px;
}
